::ng-deep {
    .custom-panel {
        transform: none !important;

        div[role=listbox].ng-trigger {
            min-width: 100% !important;
            border: 1px solid black;
            box-shadow: none !important;
            box-sizing: border-box;

            &:has(.open-below) {
                border-radius: 0 0 5px 5px;
            }

            &:has(.open-above) {
                border-radius: 5px 5px 0 0;
            }
        }
    }

    .mat-form-field {
        width: 100%;
        position: relative;

        .mat-form-field-infix {
            position: unset !important;
        }
    }

    .mat-form-field.mat-focused {

        &.open-below {
            .mat-select-trigger {
                border-radius: 5px 5px 0 0;
            }
        }

        &.open-above {
            .mat-select-trigger {
                border-radius: 0 0 5px 5px;
            }
        }
    }

    .mat-select {
        .mat-select-trigger {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;

            .mat-select-value {
                width: 100%;
                min-height: 100%;
            }
        }
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-select-arrow-wrapper {
        opacity: 0;
    }
}