<mat-form-field [ngClass]="(positionStrategy$ | async)!">
    <mat-select [(ngModel)]="selectedItem" disableOptionCentering="true" multiple="true" panelClass="custom-panel"
        placeholder="hello" #select>
        <mat-select-trigger>
            <div *ngFor="let option of selectedItem">
                <span>{{option?.name}}</span>
                <br />
            </div>
        </mat-select-trigger>
        <div class="overlay-container" [ngClass]="(positionStrategy$ | async)!">
            {{ positionStrategy$ | async }}
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let item of items" [value]="item">
                {{item.name}}
            </mat-option>
        </div>
    </mat-select>

    <mat-icon matSuffix>arrow_drop_down</mat-icon>
</mat-form-field>